.product-form {
    width: 20rem;
    max-width: 90%;
    margin: auto;
}

.product-item {
    width: 20rem;
    max-width: 95%;
    border: 1px solid #e4e4e4;
    box-shadow: none;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product__title {
    font-size: 1.2rem;
    text-align: center;
    color: #1f1f1f;
}

.product__price {
    text-align: center;
    color: #2089ff;
    margin-bottom: 0.5rem;
}

.product__description {
    text-align: center;
    color: #626262;
}

.product__characteristics {
    text-align: center;
    color: #626262;
}

.product__category {
    text-align: center;
}

.card__actions {
        display: flex;
        justify-content: center;
        gap: 24px;
}

.btn-editar {
    background-color: #FFC401;
    border-radius: 8px;
    padding: 8px;
    color: black;
}

.btn-editar:visited {
    color: black;
}

.btn-eliminar {
    background-color: #DA0000;
    border-radius: 8px;
    padding: 8px;
    color: black;
    border: none;
    width: 100%;
    height: 100%;
}

.btn-eliminar:visited {
    color: black;
}

.card__header {
    padding: 0px 1rem 1.5rem;
}

.card__content {
    gap: 16px;
    display: flex;
    flex-direction: column;
}

.card__image {
    display: flex;
    justify-content: center;
    width: 240px;
    height: 240px;
    /* align-self: center; */
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}

.link-nuevo-producto, .button-primary {
    background-color: #2089FF;
    color: white;
    border-radius: 24px;
    padding: 8px;
    text-decoration: none;
    gap: 8px;
    display: flex;
    width: fit-content;
    align-items: center;
    border: none;
}

.controls-div {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.container-btn-nuevo-producto {
    display: flex;
    justify-content: end;
}

.contenedor-formulario {
    display: flex;
    justify-content: space-around;
}

.image-preview{
    width: 240px;
    border: 1px solid #e4e4e4;
    min-height: 240px;
    display: flex;
    align-items: center;
}

.image-preview img {
    width: 240px;
}

.form-control {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.informacion {
    width: 50%;
}

.input-form {
    display: flex;
    flex-direction: column;
}

.button-primary {
    background-color: #2089FF;
    color: white;
    border-radius: 24px;
    padding: 8px;
    text-decoration: none;
    gap: 8px;
    display: flex;
    width: fit-content;
    align-items: center;
}

.button-div {
    display: flex;
    justify-content: end;
}