.form-control {
    margin: 1.5rem 0;
    padding: 1.5rem;
    border: 1px solid #d1d1d1;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.form-control label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-control input,
.form-control textarea,
.form-control select {
    display: block;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #a1a1a1;
    font: inherit;
    border-radius: 5px;
}

.form-control input:focus,
.form-control textarea:focus,
.form-control select:focus {
    outline-color: #163297;
    box-shadow: 0 0 5px rgba(22, 50, 151, 0.5);
}

button {
    padding: 0.75rem 1.5rem;
    background-color: #163297;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0e2165;
}

/* Estilo para la vista previa de la imagen */
.image-preview {
    margin-top: 1rem;
    text-align: center;
}

.image-preview img {
    max-width: 100%;
    height: auto;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    padding: 0.5rem;
    background-color: white;
}
